#main-wrapper {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
}

#main-wrapper #main {
  border-radius: 0 !important;
}

#main-wrapper:not(.wide) #main {
  min-height: none !important;
}

#main-wrapper header {
  display: none !important;
}

#main-wrapper footer {
  display: none !important;
}
